h1{
    color: red
}
body{
    background-image: url(./imagens/inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

   
   
   
   
   
}
button{
    background-color: rgb(196, 155, 22);
    width: 20%;
    height: 30%;
    margin-left: 5%;
    margin-top: 20%;
    
  
}
a{
    color: black;
}

