

   * { margin: 0;padding: 0;border: none;}
   #anime{
    background-image: url(./imagens/animes.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
#animes{display: flex;
    flex-direction: row;
    justify-content: center;
}

#quest1{
    width: 100%;
    height: 200;
    margin: 2%;
    border-radius: 10%;

    
    background-color: rgba(42, 29, 219, 0.85);;}
 #quest2{width: 100%;
    height: 200;
    margin: 2%;
    border-radius: 10%;
    
        background-color: rgba(42, 29, 219, 0.85);;}
 #quest3{width: 100%;
    height: 200;
    margin: 2%;
    border-radius: 10%;
    
            background-color: rgba(42, 29, 219, 0.85);;}
 #quest4{width: 100%;
    height: 200;
    margin: 2%;
    border-radius: 10%;
    
                background-color: rgba(42, 29, 219, 0.85);;}
#quest1 img{width: 100%;
height:100px;
display: flex;
justify-content: center;
border-radius: 10%;}

#quest2 img{width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    border-radius: 10%;}

    #quest3 img{width: 100%;
        height:100px;
        display: flex;
        justify-content: center;
        border-radius: 10%;}
        #quest4 img{width: 100%;
            height:100px;
            display: flex;
            justify-content: center;
            border-radius: 10%;}
            #anime h2{color: yellow;

                text-align: center;}
                #jogo h2{
                    color: yellow;

                text-align: center;
                }
            #filme h2{color: yellow;

                text-align: center;
            }
            #filme{
                background-image: url(./imagens/filmes.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 100%;}
                #jogo{
                    background-image: url(./imagens/jogos.jpg);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    width: 100%;     
                }
                #result input{
                    width: 100px;
                }
                #resultA button{
                   color:yellow;
                  
                   background-color: rgba(42, 29, 219, 0.85);;
            
                    width: 20%;
                    height: 40%;
                    border: black;
                    border-radius: 20%;
                    box-shadow: 20px black;
                }

@media screen and (min-width:1040px){
  
    #anime{
        background-image: url(./imagens/animes.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    #animes{
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: center;
        width: 100%;
    }
    #anime h2{
        
        text-align: center;
    }
    #quest1{
        
        background-color: rgba(42, 29, 219, 0.85);;
    
        width: 100%;
        height: 300px;
        margin: 2%;
       
        border-radius: 10%;
        
    }
    #quest1 img{
        display: flex;
        width: 250px;
        height: 170px;
        margin: 0%;
        flex-direction: column;
        border-radius: 10%;
    }
    #quest1 button{
        display: flex;
        justify-content: center;
    background-color: yellow;

    }

    #quest2 img{
        display: flex;
        width: 250px;
        height: 170px;
        margin: 0%;
        flex-direction: column;
        border-radius: 10%;
    }
    #quest2 button{
        display: flex;
        justify-content: center;
    background-color: yellow;
    
}

    #quest2{
        background-color: rgba(42, 29, 219, 0.85);;
    
        width: 100%;
        height: 300px;
        margin: 2%;
      
        border-radius: 10%;
        
    }
    #quest3{
        background-color: rgba(42, 29, 219, 0.85);;
    
        width: 100%;
        height: 300px;
        margin: 2%;
       
        border-radius: 10%;
        
    }
    #quest3 button{
        display: flex;
        justify-content: center;
    background-color: yellow;}

    #quest3 img{
        display: flex;
        width: 250px;
        height: 170px;
        margin: 0%;
        flex-direction: column;
        border-radius: 10%;
    }
    #quest4{
        background-color: rgba(42, 29, 219, 0.85);;
        width: 100%;
        height: 300px;
        margin: 2%;
       
        border-radius: 10%;
        
    }
    #quest4 img{
        display: flex;
        width: 250px;
        height: 170px;
        margin: 0%;
        flex-direction: column;
        border-radius: 10%;
    }
    #quest4 button{
        display: flex;
        justify-content: center;
    background-color: yellow;
}

    #jogo{
        background-image: url(./imagens/jogos.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        
       
        
    }
    
    #jogo h2{
        color: yellow;
        text-align: center;
    }
    #filme{
        background-image: url(./imagens/filmes.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
    #filme h2{
        color: yellow;
        text-align: center;
    }
    #result input{
        width: 100px;
    }
    #resultA button{
       color:yellow;
      
       background-color: rgba(42, 29, 219, 0.85);;

        width: 20%;
        height: 40%;
        border: black;
        border-radius: 20%;
        box-shadow: 20px black;

        
      

    }
   
    
}
                







